<section class="bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="bg-white shadow-lg rounded-xl p-8 w-full md:w-1/2 lg:w-1/3">
    <div class="text-center mb-6">
      <h2 class="text-3xl font-bold text-green-600">Forgot Password</h2>

      <p class="text-gray-500 mt-2">Enter your email to receive a reset code</p>
    </div>

    <form [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPasswordForm()">
      <div class="mb-4">
        <label for="email" class="block mb-2 font-medium text-gray-700"> Email Address </label>

        <input
          formControlName="email"
          type="email"
          id="email"
          class="w-full border rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter your email"
        />

        @if (forgetPasswordForm.get('email')?.touched && forgetPasswordForm.get('email')?.errors) {
          <div class="mt-2 text-red-600 text-sm">
            @if (forgetPasswordForm.get('email')?.getError('required')) {
              <p>Email is required</p>
            }

            @if (forgetPasswordForm.get('email')?.getError('email')) {
              <p>Please enter a valid email</p>
            }
          </div>
        }
      </div>

      @if (errorMessage) {
        <div class="bg-red-100 text-red-700 rounded p-3 mb-4">
          {{ errorMessage }}
        </div>
      }

      <button
        [disabled]="isLoading"
        type="submit"
        class="w-full bg-green-500 hover:bg-green-600 cursor-pointer text-white py-3 rounded-lg transition duration-300 disabled:opacity-50"
      >
        @if (!isLoading) {
          Send Reset Link
        }

        @if (isLoading) {
          <i class="fas fa-spinner animate-spin"></i>
        }
      </button>

      <div class="text-center mt-5">
        <a routerLink="/login" class="text-green-600 hover:underline"> Back To Login </a>
      </div>
    </form>
  </div>
</section>
