<section class="border border-gray-200 shadow-xs rounded bg-gray-200 md:w-1/2 mx-auto mt-16 p-4">
  <h2 class="mb-4 text-green-600 font-medium text-2xl">Reset Password</h2>

  <form (ngSubmit)="submitResetPasswordForm()">
    <div class="mb-3">
      <label for="email" class="main-label"> Email </label>

      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        id="email"
        class="main-input"
        placeholder="Enter your email"
      />
    </div>

    <div class="mb-3">
      <label for="newPassword" class="main-label"> New Password </label>

      <input
        [(ngModel)]="newPassword"
        name="newPassword"
        type="password"
        id="newPassword"
        class="main-input"
        placeholder="Enter new password"
      />
    </div>

    @if (errorMessage) {
      <div class="flex px-3 py-2 mb-3 text-red-800 rounded bg-red-100">
        {{ errorMessage }}
      </div>
    }

    @if (successMessage) {
      <div class="flex px-3 py-2 mb-3 text-green-800 rounded bg-green-100">
        {{ successMessage }}
      </div>
    }

    <button
      type="submit"
      class="bg-green-600 text-white py-2 px-4 rounded cursor-pointer"
      [disabled]="isLoading"
    >
      @if (!isLoading) {
        Reset Password
      }

      @if (isLoading) {
        Loading...
      }
    </button>
  </form>
</section>
