<section class="mt-4 px-2 md:px-4">
  <owl-carousel-o [options]="mainSliderCustomOption">
    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-2xl h-55 sm:h-75 md:h-100 lg:h-125">
        <img
          src="/assets/images/img1.avif"
          class="w-full h-full object-contain"
          alt="slider image"
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-2xl h-55 sm:h-75 md:h-100 lg:h-125">
        <img
          src="/assets/images/img2.avif"
          class="w-full h-full object-contain"
          alt="slider image"
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-2xl h-55 sm:h-75 md:h-100 lg:h-125">
        <img
          src="/assets/images/img3.avif"
          class="w-full h-full object-contain"
          alt="slider image"
        />
      </div>
    </ng-template>

    <ng-template carouselSlide>
      <div class="overflow-hidden rounded-2xl h-55 sm:h-75 md:h-100 lg:h-125">
        <img
          src="/assets/images/img4.avif"
          class="w-full h-full object-contain"
          alt="slider image"
        />
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
