<section class="min-h-screen flex items-center justify-center bg-gray-100 px-4 py-8">
  <div class="w-full max-w-xl bg-white shadow-xl rounded-2xl p-8">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-bold text-green-600">Register Now</h2>

      <p class="text-gray-500 mt-2">Create your account to get started</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
      <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-700"> Name </label>

        <input
          formControlName="name"
          type="text"
          id="name"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter your name"
        />

        @if (registerForm.get('name')?.touched && registerForm.get('name')?.errors) {
          <div class="mt-2 text-red-600 text-sm">
            @if (registerForm.get('name')?.getError('required')) {
              <p>Name is required</p>
            }

            @if (registerForm.get('name')?.getError('minlength')) {
              <p>Minimum 3 characters</p>
            }

            @if (registerForm.get('name')?.getError('maxlength')) {
              <p>Maximum 20 characters</p>
            }
          </div>
        }
      </div>

      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-700"> Email </label>

        <input
          formControlName="email"
          type="email"
          id="email"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter your email"
        />

        @if (registerForm.get('email')?.touched && registerForm.get('email')?.errors) {
          <div class="mt-2 text-red-600 text-sm">
            @if (registerForm.get('email')?.getError('required')) {
              <p>Email is required</p>
            }

            @if (registerForm.get('email')?.getError('email')) {
              <p>Please enter valid email</p>
            }
          </div>
        }
      </div>

      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-700">
          Password
        </label>

        <input
          formControlName="password"
          type="password"
          id="password"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter your password"
        />

        @if (registerForm.get('password')?.touched && registerForm.get('password')?.errors) {
          <div class="mt-2 text-red-600 text-sm">
            @if (registerForm.get('password')?.getError('required')) {
              <p>Password is required</p>
            }

            @if (registerForm.get('password')?.getError('pattern')) {
              <p>Minimum 8 characters, upper & lower case, number & special character</p>
            }
          </div>
        }
      </div>

      <div class="mb-5">
        <label for="rePassword" class="block mb-2 text-sm font-medium text-gray-700">
          Confirm Password
        </label>

        <input
          formControlName="rePassword"
          type="password"
          id="rePassword"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Confirm your password"
        />

        @if (registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched) {
          <div class="mt-2 text-red-600 text-sm">
            <p>Confirmation password is invalid</p>
          </div>
        }
      </div>

      <div class="mb-6">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-700"> Phone </label>

        <input
          formControlName="phone"
          type="tel"
          id="phone"
          class="w-full rounded-lg border border-gray-300 px-4 py-3 focus:outline-none focus:ring-2 focus:ring-green-500"
          placeholder="Enter your phone number"
        />

        @if (registerForm.get('phone')?.touched && registerForm.get('phone')?.errors) {
          <div class="mt-2 text-red-600 text-sm">
            @if (registerForm.get('phone')?.getError('required')) {
              <p>Phone is required</p>
            }

            @if (registerForm.get('phone')?.getError('pattern')) {
              <p>Please enter Egyptian phone number</p>
            }
          </div>
        }
      </div>

      @if (errorMessage()) {
        <div class="mb-5 rounded-lg bg-red-100 px-4 py-3 text-red-700">
          {{ errorMessage() }}
        </div>
      }

      <button
        [disabled]="isLoading()"
        type="submit"
        class="w-full rounded-lg bg-green-600 py-3 text-white cursor-pointer font-semibold transition hover:bg-green-700 disabled:opacity-50"
      >
        Register

        @if (isLoading()) {
          <span class="ms-2">
            <i class="fas fa-spinner animate-spin"></i>
          </span>
        }
      </button>
    </form>
  </div>
</section>
